@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --primary-dark: #273c4d;
  --primary-navy: #263b55;
  --primary-bkg-shadow: rgba(38, 59, 85, 0.46);
  --primary-light: #fffefb;
  --blue-light: #1c39bb;
  --blue-dark: #283674;
  --tang: #f48c06;
  --mag-dark: #85238a;
  --mag-light: #ac1faeff;
  --overlay: rgb(247, 252, 254, 0.3);
  --main-gradient: linear-gradient(90deg, #263b55 0%, #85238a 50%, #263b55 80%);
}
*, *:after,*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    backface-visibility: none;
    /* transition: all 1s ease-in-out; */
    font-family: 'Lato', sans-serif;

}
body {
  background:var(--primary-light);



}
main {
  /* width: 75%; */
  margin: 0 auto;
}
/* General Animation */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

